.___sgt-translate-button {
  margin: 4px 0;
  opacity: 0.8;
  font-size: 0.9em;
  cursor: pointer;
}

.___sgt-translate-button:hover {
  text-decoration: underline;
}

.___sgt-translate-button[data-translate-done] {
  margin: 6px 0;
  font-size: 1em; 
  cursor: default;
  padding-left: 10px;
  border-left: 3px solid rgba(var(--sk_primary_foreground,29,28,29),1);
  white-space: pre-line;
}

.___sgt-translate-button[data-translate-done]:hover {
  text-decoration: none;
}

.___sgt-translate-attribution,
.___sgt-translate-attribution:hover {
  display: flex;
  margin-top: 8px;
  text-decoration: none;
  color: inherit;
}